/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.admin-bar {
    display: none; 
    background-color: black;
    color: white;
    height: 50px;
    width: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.admin-only, .admin-bar, .js-modal {
    display: none;
}

.admin-banner {
    width: 100%;
    height: 59px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    top: 0;
    left: 0;
}
body.admin-mode {
    margin-top: 59px;
}
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	padding-top: 50px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
.admin-bar p {
    font-size: 14px;
    margin: 0;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
    gap: 40px

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
    font-weight: 700;
    cursor: pointer;
}

li:hover {
	color: #B1663C;
}
nav a {
    text-decoration: none;
    color: inherit;
}
nav img {
    width: 22px;        
    height: 22px;
}
nav li img {
    vertical-align: middle;
    margin-bottom: 2px;
}
#login-main-container {
    width: 379px;
    margin: 150px auto; 
    display: flex;
    flex-direction: column;
}
#login-main-container h2 {
    text-align: center;
    margin-bottom: 35px; 
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
    color: #1D6154;
}
#login-container {
   width: 379px;
    margin: 150px auto;
}  

#login-form label {
    margin-bottom: 10px;
}
.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.input-wrapper label {
    margin-bottom: 10px;
}
#login-container {
    width: 380px !important;   
    margin: 100px auto !important; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
login-form input {
    width: 100%;           
    box-sizing: border-box; 
    height: 50px;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    margin-bottom: 30px;
    padding: 0 15px;
}

#login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#login-form label {
    margin-bottom: 10px;
    font-family: 'Work Sans';
}

#login-form input {
    height: 50px;
    width: 100%;  
    box-sizing: border-box;  
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    margin-bottom: 30px;
}

#btn-login {
    background-color: #1D6154;
    color: white;
    font-family: 'Syne';
    font-weight: 700;
    width: 180px !important;
    height: 38px;
    margin: 10px auto;
    border: none;
    border-radius: 60px;
    cursor: pointer;
}
#login-container a {
    text-align: center;
    color: #3D3D3D;
    margin-top: 15px;
}
.forgot-pass {
    color: #3D3D3D;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.projects-title-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 20px; 
    margin-bottom: 30px;
    margin: auto;
}
.portfolio-header {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 30px;            
}
#modifier {
   font-weight: 400;
    font-size: 14px;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
.portfolio-title h2 {
    margin: 0;
}
.js-modal {
    display: none; 
    color: black;
    text-decoration: none;
    font-size: 14px;
    margin-left: 20px;
    cursor: pointer;
}

.js-modal i {
    margin-right: 5px;
}
.modal {
   position: fixed;
    display: none; 
    align-items: center;
    justify-content: center;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2000;
}
.modal-navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}
#form-add-photo {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
}
.filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 5px 0 25px 0;
}
.filters button {
    background-color: white;
    color: #1D6154; 
    border: 1px solid #1D6154;
    border-radius: 60px; 
    padding: 10px 20px;
    font-family: 'Syne';
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s;
}
.filters button:hover {
    background-color: #1D6154;
    color: white;
}
.filters button.filter-active {
    background-color: #1D6154 !important;
    color: white !important;
}
.filters button.active, .filters button:hover {
    background-color: #1D6154;
    color: white;
}
filters button.filter-active {
    background-color: #1D6154;
    color: white;
}
.input-group {
    width: 100%; 
    display: flex;
    flex-direction: column;
}
#modal-gallery-view h3, #modal-add-view h3 {
    display: block !important;
    color: #000000 !important;
    text-align: center;
    margin-bottom: 30px;
    font-size: 26px;
    width: 100%;
}
.modal-gallery {
  display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 8px; 
    width: 100%;
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #B3B3B3; 
    margin-bottom: 30px;
}
.modal-gallery figure img {
    width: 100%;       
    height: 90px;     
    object-fit: cover; 
}
modal-gallery figure {
    width: 100%;
    margin: 0;
    position: relative;
}
.modal-gallery img {
   width: 100%;
    height: 100px; 
    object-fit: cover;
    aspect-ratio: 3/4
}
.modal-item {
    position: relative;
}
.js-modal-back, .js-modal-close {
    position: absolute;
    top: 25px;
    background: none;
    border: none;
    font-size: 20px;
    color: black;
    cursor: pointer;
    z-index: 10;
}
.js-modal-back {
    left: 25px;
}
.js-modal-close {
    right: 25px;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute; 
    top: 20px;
    left: 0;
    padding: 0 20px;
    box-sizing: border-box;
}
#modal-add-view h3, #modal-gallery-view h3 {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Work Sans';
    font-size: 26px;
}

#form-add-photo {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch; 
}

.btn-validate, .btn-disabled, .btn-active {
    width: 237px;
    margin: 20px auto; 
    display: block;
}
#btn-validate {
  display: block;
    width: 237px;  
    height: 36px;    
    margin:  auto; 
    border: none;
    border-radius: 60px; 
    background-color: #A7A7A7; 
    color: white;
    font-family: 'Syne';
    font-weight: 700;
    cursor: not-allowed;
}
#btn-validate.active {
    background-color: #1D6154;
    cursor: pointer;
}
.modal-item img {
  width: 100%;       
    height: 100px;    
    object-fit: cover;
}
.modal-wrapper {
    background-color: #FFFFFF !important;
    width: 630px; 
    min-height: 400px;
    padding: 60px 30px; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative; 
    box-sizing: border-box;
}


#btn-add-photo{
    display: block;    
    margin: 0 auto;      
    background-color: #1D6154;
    color: white;
    border: none;
    padding: 10px 40px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Syne';
    font-weight: 700;
}


.modal-separator {
    width: 100%;
    margin: 40px 0 30px 0; 
}
.modal-item .fa-trash-can {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: black;
    color: white;
    font-size: 9px;
    padding: 4px;
    border-radius: 2px;
    cursor: pointer;
}
.modal-item img {
    width: 100%;
    display: block;
}
.drop-zone {
  background-color: #E8F1F6;
    border-radius: 3px;
    width: 100%; 
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
#file{display: none;}

.drop-zone i {
    font-size: 60px;
    color: #B9C5CC;
    margin-bottom: 10px;
}
.btn-file {
    background-color: #CBD6DC;
    color: #306685;
    padding: 10px 33px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 700;
}
.drop-zone p {
    font-size: 10px;
    color: #444444;
    margin-top: 7px;
}
.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
}

.input-group label { margin-bottom: 10px; }

.input-group input, .input-group select {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    padding: 15px;
}
btn-main {
    width: 237px; 
    margin: 20px auto;
    display: block;
}
.btn-disabled {
    background-color: #A7A7A7; 
    color: white;
    border: none;
    padding: 10px 60px;
    border-radius: 60px;
    cursor: not-allowed;
}

.btn-active {
    background-color: #1D6154; 
    cursor: pointer;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
#error-message {
    font-family: 'Work Sans';
    font-size: 14px;
    font-weight: bold;
    color: red;
    text-align: center;
    margin-bottom: 15px;
    min-height: 18px; 
}